<h3>Leafs:
  <clr-signpost>
    <clr-signpost-content *clrIfOpen>
        <h4>Leafs</h4>
        <p>Affects leafs.
          A leaf is a node without producers, default color is green.
          In graph theory a leaf is a vertex of degree 1.
        </p>
    </clr-signpost-content>
  </clr-signpost>
</h3>
<div class="row flex-items-xs-between">
  <div class="col-xs btn-group">
    <button class="btn btn-sm" (click)="ser.model.maxLeafBuy(true)">
      Max Buy
    </button>
    <button class="btn btn-sm btn-success-outline" (click)="ser.model.leafProd(true)">
      Max Producer
    </button>
    <button class="btn btn-sm btn-danger-outline" (click)="ser.model.leafSacrify(true)">
      Max Sacrifice
    </button>
  </div>
</div>

<h3>Max level leafs:
<clr-signpost>
  <clr-signpost-content *clrIfOpen>
      <h4>Max level leafs</h4>
      <p>Affects leafs of maximun level.</p>
  </clr-signpost-content>
</clr-signpost>
</h3>

<div class="row flex-items-xs-between">
  <div class="col-xs btn-group">
    <button class="btn btn-sm" (click)="ser.model.maxLeafBuy(false)">
      Max Buy
    </button>
    <button class="btn btn-sm btn-success-outline" (click)="ser.model.leafProd(false)">
      Max Producer
    </button>
    <button class="btn btn-sm btn-danger-outline" (click)="ser.model.leafSacrify(true)">
      Max Sacrifice
    </button>
  </div>
</div>

<h3>Tick and Time:
  <clr-signpost>
    <clr-signpost-content *clrIfOpen>
        <h4>Tick and Time</h4>
        <p>
          Tick speed is the game speed.<br/>
          Time can be used to Fast forward, to unclock it prestige and get the appropriate skill.
        </p>
    </clr-signpost-content>
  </clr-signpost>
</h3>
<div class="row flex-items-xs-between">
  <div class="col-xs btn-group">
    <button class="btn btn-sm" (click)="ser.model.buyTickSpeed(true)" [disabled]="!ser.model.canBuyTickSpeed()">
      Max Tick Speed
    </button>
    <button class="btn btn-sm btn-success-outline" (click)="ser.model.maxWarp()" [disabled]="!ser.model.time.gte(1)">
      Max Warp
    </button>
  </div>
</div>
