<div class="card-block">
  <div class="progress top">
    <progress value={{getPercent()}} max=100></progress>
  </div>
  <h4 class="card-title">{{autoB.name}}</h4>

  <div>
    <p class="card-text">
      Interval: {{autoB.interval | format}} s
      <span *ngIf="autoB.upTo.gte(1.5)"> Bulk buy: {{autoB.upTo | format}}</span>
    </p>

    <div class="toggle-switch onOff">
      <input type="checkbox" id={{autoB.id}} [(ngModel)]="autoB.on" (ngModelChange)="change()" [ngModelOptions]="{standalone: true}"
        [disabled]="!canChange()">
      <label for={{autoB.id}}></label>
    </div>
  </div>

  <form class="compact">
    <section class="form-block">

      <div class="form-group">
        <label>Priority:</label>

        <input type="number" [(ngModel)]="autoB.priority" (ngModelChange)="change()" [ngModelOptions]="{standalone: true}"
        />

      </div>
    </section>
  </form>


</div>
