<div class="card-block">
  <div class="progress top">
    <progress value={{getPercent()}} max=100></progress>
  </div>
  <h4 class="card-title">{{autoB.name}}</h4>
  <p class="card-text">
    Interval: {{autoB.interval | format}} s
  </p>


  <form class="compact">
    <section class="form-block">

      <div class="form-group">
        <label>Priority:</label>

        <div class="toggle-switch">
          <input type="checkbox" id={{autoB.id}} [(ngModel)]="autoB.on" (ngModelChange)="change()" [ngModelOptions]="{standalone: true}" [disabled]="!canChange()">
          <label for={{autoB.id}}>On:</label>
        </div>

        <div class="select">
          <select [(ngModel)]="autoB.priority" (ngModelChange)="change()" [ngModelOptions]="{standalone: true}">
            <option value={{i}} *ngFor="let i of numbers">{{i}}</option>
          </select>
        </div>

      </div>
    </section>
  </form>

</div>
