.margin {
    margin-top: 0.3rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-between;
}

.bottom {
    margin-top: auto;
}

.col-xs-6 {
    padding: 0px;
}

.row {
    margin-bottom: 0px;
    margin-top: 0px;
}

.mg{
  padding-right:0.5rem !important;
}
