<div class="main-container">
  <header class="header header-6">
    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-text" [routerLink]="'main'" [routerLinkActive]="'active'"
        skipLocationChange>
        Graph
      </a>
      <a href="javascript://" class="nav-link nav-text" [routerLink]="'pre'" [routerLinkActive]="'active'"
        skipLocationChange>
        Presige
      </a>
      <a href="javascript://" class="nav-link nav-text" [routerLink]="'pnav'" [routerLinkActiveOptions]="{exact: false}"
        [routerLinkActive]="'active'" skipLocationChange>
        Skill
        <span class="badge badge-success" *ngIf="serv.model.prestigeCurrency > 0">{{serv.model.prestigeCurrency | format}}</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" [routerLink]="'opt/save'" skipLocationChange>
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
