#cur {
    font-weight: 200;
    font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
    letter-spacing: normal;
    /* line-height: 2rem; */
    /* margin-top: 1rem; */
    margin-bottom: 3px; // display:block;
    font-size: 1.5rem;
}

.recap {
    line-height: 0.6rem;
}

.min {
    min-width: 5rem;
}

.min2 {
    min-width: 10rem;
}

.tickBtn {
    min-width: 5rem;
}
