<div class="content-area">
  <router-outlet></router-outlet>
</div>
<clr-vertical-nav>
  <a clrVerticalNavLink routerLink="/opt/save" routerLinkActive="active">
    <clr-icon shape="floppy"></clr-icon> Save</a>
  <a clrVerticalNavLink routerLink="/opt/opt" routerLinkActive="active">
    <clr-icon shape="ruler-pencil"></clr-icon>
    Options</a>
  <a clrVerticalNavLink routerLink="/opt/help" routerLinkActive="active">
    <clr-icon shape="help"></clr-icon>
    Help</a>
  <a clrVerticalNavLink routerLink="/opt/cre" routerLinkActive="active">
    <clr-icon shape="certificate"></clr-icon>
    Credits
  </a>
</clr-vertical-nav>
